@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.error-message {
		@apply text-red-500 text-xs;
	}

	.pagination-item {
		@apply px-2 border-2 border-sky-400 text-sky-900 rounded-md cursor-pointer;
	}

	.input-field {
		@apply w-full pb-0.5 border-b-[1px] border-gray-400 focus:outline-none;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}
